<h1>Log In</h1>
	<form action="<%= session_url %>" method="POST" accept-charset="utf-8">
	<label for="user_email">Email</label>
	<input type="text" name="user[email]" value="" id="user_email"><br>

	<label for="user_password">Password</label><input type="text"
				name="user[password]" value="" id="user_password"><br>

	<p><input type="submit" value="Log In"></p>
</form>

<form action="<%= send_reset_email_session_url %>" method="POST" accept-charset="utf-8">
	<label for="user_email">Reset Email</label>
	<input type="text" name="user[email]" value="" id="user_email"><br>


	<p><input type="submit" value="Reset Password?"></p>
</form>
