<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Social App, <%= @user.email %></h1>
    <p>
      You have successfully forgot your password,
      your password reset link is:
      <%= link_to "RESET LINK", @url %>.
      <br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>