<form action="<%= user_friend_circles_url %>" method="POST" accept-charset="utf-8">
	<label for="friend_circle_name">Friend Circle Name: </label>
	<input type="text" name="friend_circle[name]" id="friend_circle_name">
	<br>
  <input type="hidden" name="friend_circle_memberships[][members]" value="">

	<br>
	<% User.all.each do |user| %>
	<% next if user.id == current_user.id %>

		<input type="checkbox" name="friend_circle_memberships[][members]" id="member" value="<%= user.id %>">
	  <label for="member"><%= user.email %></label>
	  <br>

	<% end %>

	<p><input type="submit" value="Create Friend Circle"></p>
</form>