<h1>Sign Up</h1>
<form action="<%= users_url %>" method="POST" accept-charset="utf-8">
	<label for="user_email">Email</label>
	<input type="text" name="user[email]" value="" id="user_email"><br>

	<label for="user_password">Password</label><input type="text"
				name="user[password]" value="" id="user_password"><br>

	<p><input type="submit" value="Create Account"></p>
</form>