<h1>Password reset</h1>

<form action="<%= user_url(@user) %>" method="POST" accept-charset="utf-8">
	<input type="hidden" name="_method" value="PUT">

	<label for="user_password">Password</label><input type="text"
				name="user[password]" value="" id="user_password"><br>

	<p><input type="submit" value="Create Account"></p>
</form>