<!DOCTYPE html>
<html>
<head>
  <title>SocialApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if logged_in? %>
		<%= current_user.email %>
		<%= button_to "Log Out", session_url, method: :delete %>
	<% else %>

		<%= link_to "Log In", new_session_url, method: :get %>
		<%= link_to "Sign Up", new_user_url, method: :get %>
	<% end %>

<%= yield %>

</body>
</html>
